In [1]:
import os
import pandas as pd

from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset_name = "1_dataset_original_colunas_selecionadas_limpeza_demojize_leia.csv"
RANDOM_SEED = 42
TEST_SIZE = 0.3

In [3]:
df = pd.read_csv(dataset_name)

df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2588 entries, 0 to 2587
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   content          2588 non-null   object
 1   score            2588 non-null   int64
 2   leia_score       2588 non-null   float64
 3   leia_incoerente  2588 non-null   bool
 4   sentiment        2588 non-null   int64
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 83.5+ KB

In [4]:
df_train, df_test = train_test_split(df, test_size=TEST_SIZE, random_state=RANDOM_SEED)

df_val, df_test = train_test_split(df_test, test_size=0.5, random_state=RANDOM_SEED)

In [5]:
print("Tamanho do conjunto de treino:", df_train.shape)
print("Tamanho do conjunto de validação:", df_val.shape)
print("Tamanho do conjunto de teste:", df_test.shape)

Tamanho do conjunto de treino: (1811, 5)
Tamanho do conjunto de validação: (388, 5)
Tamanho do conjunto de teste: (389, 5)

In [6]:
df_train.head()

,content,score,leia_score,leia_incoerente,sentiment
2358,"O app em si eh muito bom , porém tenho que faz...",3,0.2500,False,2
23,Propaganda enganosa. Os preços aparecem bem ba...,1,-0.5229,False,0
158,"Quando a plataforma chegou ao Brasil, julguei ...",3,0.1875,False,2
1623,Fiz um Pix pra Amazon serviços de varejo do Br...,1,-0.9477,False,0
331,Acabei de instalar vou fazer o teste no meu pr...,4,0.5574,False,3

In [7]:
df_val.head()

,content,score,leia_score,leia_incoerente,sentiment
605,Infelizmente tenho tido muita insatisfação com...,2,-0.9062,False,1
790,"App muito bom, sempre tem frete grátis e ótimo...",3,0.5994,False,2
471,"Já fiz três compras e chegou tudo certinho, AP...",5,0.5994,False,4
1465,Vcs são mto bons nas compras e na entrega. Nós...,5,0.9283,False,4
283,Oii! Este é um feedback sincero. Quando instal...,4,0.2363,False,3

In [8]:
df_test.head()

,content,score,leia_score,leia_incoerente,sentiment
497,Até semana passada era o melhor aplicativo do ...,1,0.2960,False,0
1378,Recomendo! Empresa séria. Minhas compras sempr...,4,0.7177,False,3
859,Muito bom tem muito bons vendedores porém prec...,4,0.7717,False,3
1674,"Péssima e horrível, Amazon deixa a desejar, co...",2,-0.7269,False,1
290,eu gostei muito pelo fato de ter muitas promoç...,4,0.4062,False,3

In [10]:
# Salvar o DataFrame em um novo arquivo CSV

base_name = os.path.splitext(dataset_name)[0]

df_train.to_csv(
    f"{base_name}_dados_treino.csv",
    index=False,
    header=True,
    encoding="utf-8",
)

df_test.to_csv(
    f"{base_name}_dados_teste.csv",
    index=False,
    header=True,
    encoding="utf-8",
)

df_val.to_csv(
    f"{base_name}_dados_validacao.csv",
    index=False,
    header=True,
    encoding="utf-8",
)